In [1]:
import pandas as pd
import json
import geopandas
import matplotlib.pyplot as plt

In [3]:
header_df = pd.read_csv('../../data/raw/home_cbg_at_least_5_nights_0701_0820.csv')
header_df.columns

Index(['device_id', 'days_n', 'n', 'lon', 'lat', 'geometry', 'index_right',
       'CSAFP', 'CBSAFP', 'AFFGEOID_1', 'GEOID_1', 'NAME_1', 'LSAD_1',
       'ALAND_1', 'AWATER_1', 'STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE',
       'AFFGEOID_2', 'GEOID_2', 'NAME_2', 'LSAD_2', 'ALAND_2', 'AWATER_2'],
      dtype='object')

In [6]:
selected_col = ['device_id', 'lon', 'lat', 'STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE', 'GEOID_2']
header = header_df[selected_col]
header.head()

,device_id,lon,lat,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID_2
0,00003478e4620de94b73136f76d2683d3451c1758493eb...,-95.578226,30.209056,48,339,690402,4,483396904024
1,000f0e2cce6bc47d2205eed7d9055bbf3a51fc6f688a5e...,-95.644478,30.209734,48,339,690402,4,483396904024
2,013bf5eb811209f74c66a2e56b39e88ed55868981b16ce...,-95.634361,30.210126,48,339,690402,4,483396904024
3,018187f1e65f38dee845d95b0a9bdd780a5dea6c5c7336...,-95.571939,30.214197,48,339,690402,4,483396904024
4,01c96ef72e4c219d07eeeff32c728aedd5cbf0443e72b0...,-95.662512,30.218735,48,339,690402,4,483396904024

In [9]:
header.to_csv('../../data/intermediate/header_data.csv', index=False)