In [6]:
import pandas as pd
import json
import geopandas
import matplotlib.pyplot as plt

In [7]:
header_df = pd.read_csv('../../data/home_cbg_at_least_5_nights_0701_0820.csv')
header_df.columns

Index(['device_id', 'days_n', 'n', 'lon', 'lat', 'geometry', 'index_right',
       'CSAFP', 'CBSAFP', 'AFFGEOID_1', 'GEOID_1', 'NAME_1', 'LSAD_1',
       'ALAND_1', 'AWATER_1', 'STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE',
       'AFFGEOID_2', 'GEOID_2', 'NAME_2', 'LSAD_2', 'ALAND_2', 'AWATER_2'],
      dtype='object')

In [8]:
selected_col = ['device_id', 'lon', 'lat', 'STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE']
header = header_df[selected_col]
header.head()

,device_id,lon,lat,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE
0,00003478e4620de94b73136f76d2683d3451c1758493eb...,-95.578226,30.209056,48,339,690402,4
1,000f0e2cce6bc47d2205eed7d9055bbf3a51fc6f688a5e...,-95.644478,30.209734,48,339,690402,4
2,013bf5eb811209f74c66a2e56b39e88ed55868981b16ce...,-95.634361,30.210126,48,339,690402,4
3,018187f1e65f38dee845d95b0a9bdd780a5dea6c5c7336...,-95.571939,30.214197,48,339,690402,4
4,01c96ef72e4c219d07eeeff32c728aedd5cbf0443e72b0...,-95.662512,30.218735,48,339,690402,4

In [13]:
header_df.loc[header.TRACTCE == 690402]

,device_id,days_n,n,lon,lat,geometry,index_right,CSAFP,CBSAFP,AFFGEOID_1,...,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID_2,GEOID_2,NAME_2,LSAD_2,ALAND_2,AWATER_2
0,00003478e4620de94b73136f76d2683d3451c1758493eb...,14,26,-95.578226,30.209056,POINT (-95.578226 30.209056),1524,288,26420,310M500US26420,...,48,339,690402,4,1500000US483396904024,483396904024,4,BG,33831866,613526
1,000f0e2cce6bc47d2205eed7d9055bbf3a51fc6f688a5e...,29,31,-95.644478,30.209734,POINT (-95.644478 30.209734),1524,288,26420,310M500US26420,...,48,339,690402,4,1500000US483396904024,483396904024,4,BG,33831866,613526
2,013bf5eb811209f74c66a2e56b39e88ed55868981b16ce...,23,33,-95.634361,30.210126,POINT (-95.634361 30.210126),1524,288,26420,310M500US26420,...,48,339,690402,4,1500000US483396904024,483396904024,4,BG,33831866,613526
3,018187f1e65f38dee845d95b0a9bdd780a5dea6c5c7336...,5,7,-95.571939,30.214197,POINT (-95.571939 30.214197),1524,288,26420,310M500US26420,...,48,339,690402,4,1500000US483396904024,483396904024,4,BG,33831866,613526
4,01c96ef72e4c219d07eeeff32c728aedd5cbf0443e72b0...,39,68,-95.662512,30.218735,POINT (-95.662512 30.218735),1524,288,26420,310M500US26420,...,48,339,690402,4,1500000US483396904024,483396904024,4,BG,33831866,613526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580714,f053553f48d953a12422ac099b5f65424dff4e35b3a465...,35,144,-95.643862,30.144663,POINT (-95.643862 30.144663),747,288,26420,310M500US26420,...,48,339,690402,1,1500000US483396904021,483396904021,1,BG,8134386,0
580715,f26a00da96a6364ac9d1b920c4bde377ce5305bc1f1532...,24,50,-95.657369,30.146073,POINT (-95.657369 30.146073),747,288,26420,310M500US26420,...,48,339,690402,1,1500000US483396904021,483396904021,1,BG,8134386,0
580716,f7a04458439368382e3ef0eeef2a43cd412ea90028f666...,41,81,-95.646992,30.122856,POINT (-95.646992 30.122856),747,288,26420,310M500US26420,...,48,339,690402,1,1500000US483396904021,483396904021,1,BG,8134386,0
580717,fba08f349d8762a8431866a1f7184f3fcb8eb4b1e0e52d...,17,28,-95.649569,30.131978,POINT (-95.649569 30.131978),747,288,26420,310M500US26420,...,48,339,690402,1,1500000US483396904021,483396904021,1,BG,8134386,0
580718,fe2578276794934dcb1619e55b9ba3cb33fe6f463494a8...,13,14,-95.649250,30.136281,POINT (-95.64925 30.136281),747,288,26420,310M500US26420,...,48,339,690402,1,1500000US483396904021,483396904021,1,BG,8134386,0

In [5]:
header.to_csv('../../data/header.csv', index=False)