In [1]:
import pandas as pd
import numpy as np

In [2]:
header_df = pd.read_csv('../data/home_cbg_at_least_5_nights_0701_0820.csv')

In [3]:
header_df.columns

Index(['device_id', 'days_n', 'n', 'lon', 'lat', 'geometry', 'index_right',
       'CSAFP', 'CBSAFP', 'AFFGEOID_1', 'GEOID_1', 'NAME_1', 'LSAD_1',
       'ALAND_1', 'AWATER_1', 'STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE',
       'AFFGEOID_2', 'GEOID_2', 'NAME_2', 'LSAD_2', 'ALAND_2', 'AWATER_2'],
      dtype='object')

In [4]:
header_df.COUNTYFP.unique()

array([339, 201,  15, 167, 157,  71,  39, 291, 473])

In [5]:
header_df.head()

,device_id,days_n,n,lon,lat,geometry,index_right,CSAFP,CBSAFP,AFFGEOID_1,...,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID_2,GEOID_2,NAME_2,LSAD_2,ALAND_2,AWATER_2
0,00003478e4620de94b73136f76d2683d3451c1758493eb...,14,26,-95.578226,30.209056,POINT (-95.578226 30.209056),1524,288,26420,310M500US26420,...,48,339,690402,4,1500000US483396904024,483396904024,4,BG,33831866,613526
1,000f0e2cce6bc47d2205eed7d9055bbf3a51fc6f688a5e...,29,31,-95.644478,30.209734,POINT (-95.644478 30.209734),1524,288,26420,310M500US26420,...,48,339,690402,4,1500000US483396904024,483396904024,4,BG,33831866,613526
2,013bf5eb811209f74c66a2e56b39e88ed55868981b16ce...,23,33,-95.634361,30.210126,POINT (-95.634361 30.210126),1524,288,26420,310M500US26420,...,48,339,690402,4,1500000US483396904024,483396904024,4,BG,33831866,613526
3,018187f1e65f38dee845d95b0a9bdd780a5dea6c5c7336...,5,7,-95.571939,30.214197,POINT (-95.571939 30.214197),1524,288,26420,310M500US26420,...,48,339,690402,4,1500000US483396904024,483396904024,4,BG,33831866,613526
4,01c96ef72e4c219d07eeeff32c728aedd5cbf0443e72b0...,39,68,-95.662512,30.218735,POINT (-95.662512 30.218735),1524,288,26420,310M500US26420,...,48,339,690402,4,1500000US483396904024,483396904024,4,BG,33831866,613526

In [6]:
import requests
import json

import sys
sys.path.insert(0,'/home/caden/Programming/info')
from Keys import Keys

In [7]:
host = 'https://api.census.gov/data'
year = '2021'
dataset_acronym = 'acs/acs5'
api_key = str(Keys.CensusAPI())

var_list = "NAME,B01001_001E"
state = '049'
county = '339'

In [8]:
state = header_df.STATEFP.unique()[0]
counties = header_df.COUNTYFP.unique()
county_strings = []

for county in counties:
    s = str(county)
    l = 3 - len(s)
    s = (l * '0') + s
    county_strings.append(s)

data = []

In [9]:
county_strings

['339', '201', '015', '167', '157', '071', '039', '291', '473']

In [10]:
for county in county_strings:
    print(state, county)
    query_url = f'https://api.census.gov/data/2021/acs/acs5?get={var_list}&for=block+group:*&in=state:{state}%20county:071%20tract:*&key={api_key}'
    response = requests.get(query_url)
    data.append(response)

48 071

In [79]:
# Pickling data 
pd.to_pickle(data, 'mobility_census_data.pkl')