In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle('../data/data.pkl')
df.head()

     Sensor  Temperature   Latitude  Longitude
0  sensor_0    72.283005  41.797636  -74.44575
1  sensor_0    78.926256  41.797636  -74.44575
2  sensor_0    76.846623  41.797636  -74.44575
3  sensor_0    72.988022  41.797636  -74.44575
4  sensor_0    79.912568  41.797636  -74.44575

In [5]:
loc = list(zip(df['Latitude'].unique(), df['Longitude'].unique()))

for i in range(len(loc)) :
    df.loc[(df['Latitude'] == loc[i][0]) & (df['Longitude'] == loc[i][1]), 'Location'] = i

100